* {
    font-family: Arial, sans-serif;
}

body {
    font-size: 14px;
    background-color: white;
}

.ui-widget {
    font-size: 12px;
}

.slider .labels {
    width: 100%;
    td {
        text-align: center;
    }
}

p {
    text-indent: 2em;
}

code {
    .new { color: #008000}
    .comment { color: #808000 }
}